:root {
  --max-width: 1200px;
  --Main-Color: black;
  --Second-Color: white;
  --Suport-Color: #EA1E77;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
 
}

a {
  color: inherit;
  text-decoration: none;
}


/* Aplicando estilos à barra de rolagem */
::-webkit-scrollbar {
  width: 5px; /* Largura da barra de rolagem */
}

/* Estilizando o track da barra de rolagem */
::-webkit-scrollbar-track {
  transition: all 500ms;
  background-color: black; /* Cor de fundo do track */
}

/* Estilizando o thumb da barra de rolagem */
::-webkit-scrollbar-thumb {
  transition: all 500ms;
  background-color: var(--Second-Color); /* Cor do thumb */
  border-radius: 0px 0px 0px 12px; /* Bordas arredondadas */
}

/* Mudando a cor da barra de rolagem quando o mouse está sobre ela */
::-webkit-scrollbar-thumb:hover {
  transition: all 500ms;
  background-color: var(--Main-Color);
 
}