.main{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.MainHeader{
  display: flex;
  position: fixed;
  z-index: 2;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  height: 120px;
}

.BannerHome{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  background-color: var(--Main-Color);
}

.BannerHomeContainer{
  max-width: var(--max-width);
  width: 90%;
  position: relative;
  color: white;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100%;
  text-align: center;
}

.BannerHomeContainer h1{
  color: white;
  font-size: 90px;
  text-align: center;
  width: 100%;
  line-height: 100%;
  font-weight: 600;
} 

.BannerHomeContainer p{
  font-weight: 600;
  font-size: 20px;
}



.BannerHomeContainer p span{
  color: var(--Suport-Color);
}


.ButtonsHere{
  width: 100%;
  max-width: 300px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 60px;
  margin-bottom: 30px;
}

.Sticker{
  position: absolute;
  bottom: 0;
  z-index: 1;
}





@media screen and (min-width:850px) and (max-width: 1024px) {
  
}

@media screen and (min-width:550px) and (max-width: 850px) {
  
}

@media screen and (min-width:280px) and (max-width: 550px) {
  .BannerHomeContainer h1{
    color: white;
    font-size: 14vw;
    text-align: center;
    width: 100%;
    line-height: 100%;
    font-weight: 600;
  } 

  .BannerHomeContainer p{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
  }
  
  
  
  .BannerHomeContainer p span{
    color: var(--Suport-Color);
  }

  .ButtonsHere{
    width: 100%;
    max-width: 240px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
  }
}



