.MainButton{
    padding: 10px 20px;
    border-radius: 35px;
    height: 45px;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    transition: all 500ms;
}

.MainButton:hover{

    background-color: var(--Suport-Color)!important;
}
