.MainNav{
    width: 85%;
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0px 0px 0px 0px;
    transition: all 500ms;
    margin-top: 30px;
    z-index: 3;
    border-radius: 50px;
}


.Profile{
    background-color: white;
    height: 60px;
    width: 60px;
    transition: all 500ms;
    border-radius: 100%;
}

.Profile:hover{
    height: 55px;
    width: 55px;

}

.MainMenuNavbar ul{
    list-style: none;
    display: flex;
}

.MainMenuNavbar ul li{
    margin-left: 60px;
    cursor: pointer;
    align-items: center;
    display: flex;
    font-size: 16px;
    color: white;
    font-weight:600;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;

}

.MainMenuNavbar ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to top, white 90%);
    z-index: -1;
    transition: all 0.2s ease;
    border-radius: 25px;
  }
  
.MainMenuNavbar ul li:hover::before {
    width: 100%;
    background-color: white;
    color: black!important;
  }
.MainMenuNavbar ul li:hover::before p{
    color: black;
  }


.MainMenuNavbar ul li:nth-child(1){
    background-color: white;
    color: var(--Main-Color);
    border-radius: 25px;
    padding: 10px 20px;
}

.MainMenuNavbar ul li:hover{
    color: black;
    transition: color 1s;
}


.scrolling{
    background-color: var(--Second-Color);
    width: 95%;
    height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
    padding: 0px 25px 0px 6px;
    border-radius: 50px;
    transition: all 1s;
}

.scrolling ul li{
    color: black;
}

.scrolling ul li:nth-child(1){
    background-color: black;
    color: white;
}



.menuNavbar{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 4;
    left: 0;
    background-color: black;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
    animation-name: modal-appear;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes modal-appear {
    from {
      top: -100%;
    }
    to {
        top: 0;
    }
  }

.menuNavbarContainer{
    width: 90%;
    height: 100%;
    max-width: var(--max-width);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center ;
    overflow-y: auto;
    overflow-x: hidden;
}

.menuNavbarContainer p{
    color: white;
    font-weight: 600;
    font-size: 60px;
}


/* Aplicando estilos à barra de rolagem */
.menuNavbarContainer::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
  }
  
  /* Estilizando o track da barra de rolagem */
.menuNavbarContainer::-webkit-scrollbar-track {
    transition: all 500ms;
    background-color: black; /* Cor de fundo do track */
  }
  
  /* Estilizando o thumb da barra de rolagem */
.menuNavbarContainer::-webkit-scrollbar-thumb {
    transition: all 500ms;
    background-color: var(--Suport-Color); /* Cor do thumb */
    border-radius: 0px 0px 0px 12px; /* Bordas arredondadas */
  }
  
  /* Mudando a cor da barra de rolagem quando o mouse está sobre ela */
.menuNavbarContainer::-webkit-scrollbar-thumb:hover {
    transition: all 500ms;
    background-color: var(--Main-Color);
   
  }



.scrolling .ProfileP p{
    display: flex;
    display: none;
}
.MainMenuNavbar .ProfileP p{
    display: none!important;
    display: none;
}

.ProfileP{
    display: flex;
    align-items: center;
}

.ProfileP p{

    font-weight: 600;
    font-size: 30px;
    margin-left: 10px;
}


.HeaderMenuNavgbar{
    width: 90%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.CloseMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;
    width: 60px;  
    cursor: pointer;
}

.CloseMenuContainer{
    width: 90%;
    height: 90%;
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CloseMenuContainer div{
    border-radius: 12px;
    width: 100%;
    background-color: white;
    height: 5px;
    position: absolute;
}

.CloseMenuContainer div:nth-child(1){
    transform: rotate(-45deg);
}
.CloseMenuContainer div:nth-child(2){
    transform: rotate(45deg);
}

@media screen and (min-width:1024px){
    .MainMenuNavbar{
        display: flex;
    }

    .MenuMainMenuNavbar{
        display: none;
    }
}

@media screen and (max-width:1024px){
    .MainMenuNavbar{
        display: none;
    }

    .MenuMainMenuNavbar{
        width: 50px;
        height: 60px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .MenuContainer{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .MenuContainer div{
        width: 100%;
        border-radius: 25px;
        transition: all 1s;
        height: 3px;
        background-color: white;
    }
   .scrolling .MenuContainer div{
        width: 100%;
        border-radius: 25px;
        height: 3px;
        background-color: black;
    }

    .MenuContainer div:nth-child(2){
        width: 50%;
    }

    .MenuContainer:hover div:nth-child(2){
        width: 100%;
    }
 
}




@media screen and (min-width:280px) and (max-width:550px){
    
    .ProfileP p{
        display: none;
        font-weight: 600;
        font-size: 30px;
        margin-left: 10px;
    }

    .menuNavbarContainer p{
        color: white;
        font-weight: 600;
        font-size: 40px;
    }
}